* {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  float: none;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  color: yellow;
}

h4 {
  font-size: 30px;
  text-align: center;
}

aside {
  float: left;
  border-right: 2px solid yellow;
  width: 14%;
  height: 600px;
}


ul {
  color: yellow;
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 20px;
  list-style-type: none;
}

#nav {
  font-size: 40px;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  position: relative;
  float: left;
  height: 600px;
  width: 85%;
}

.dropDown {
  background-color: #ffff00ba;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 600px;
  width: 100%;
}

.dropDown ul{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: black;
}

.dropDown li {
  display: flex;
  box-sizing: border-box;
  width: 20%;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.dropDown li:hover {
  text-decoration: underline;
}


.imgCont {
  position: relative;
  display: flex;
  justify-content: center;
}

button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 60px;
  border-radius: 10px;
  border: none;
  background-color: yellow;
  outline: none;

}

img {
  border: 5px solid yellow;
  border-radius: 10px;
  max-height: 300px;
  width: auto;
}

.breedList {
  margin: auto;
  height: 200px;
  width: 800px;
}

.breedList ul{
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;

}

.breedList li {
  display: flex;
  align-items: left;

  width: 20%;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

footer {
  padding-top: 40px;
  font-size: 40px;
  text-align: center;
  height: 150px;
  clear: both;
}
